extends ../layout 

block body
  div( class="custom-container" ng-controller="UserForgetPswCtrl")
    div( class="page-header")
      h3 Forgot Password
    

      //-if !showVerifictionInput
      form( novalidate method="POST" action="/forgot" name="forgotForm" class="form-horizontal")
        input( type="hidden" name="_csrf" value=_csrf)

        p Enter your phone below and we will send you password reset instructions
        div( class="form-group clearfix")
          label( for="phone" class="col-sm-3 control-label") phone
          div( class="col-sm-6")
            input( type="phone" name="phone" id="phone" placeholder="phone" autofocus="autofocus" class="form-control" required ng-model="phone")
          
        div( class="form-group")
          div( class="col-sm-offset-3 col-sm-6")
            button( type="submit" class="btn btn-primary" ng-disabled="forgotForm.$invalid || !phone")
              i( class="fa fa-key") 
              |Reset Password
            
    //- else
    //-   form( novalidate method="POST" action="/reset" name="enterVerificationForm" class="form-horizontal")
    //-       input( type="hidden" name="_csrf" value=_csrf)

    //-       p Enter your phone and verification code
    //-       div( class="form-group clearfix")
    //-         label( for="phone" class="col-sm-3 control-label") phone
    //-         div( class="col-sm-6")
    //-           input( type="phone" name="phone" id="phone" placeholder="phone" autofocus="autofocus" class="form-control" required ng-model="phone")

    //-       div( class="form-group clearfix")
    //-         label( for="verfication" class="col-sm-3 control-label") Verfication code
    //-         div( class="col-sm-6")
    //-           input( type="text" name="verfication" id="verfication" placeholder="verfication code" class="form-control" required ng-model="verfication")

    //-       div( class="form-group")
    //-         div( class="col-sm-offset-3 col-sm-6")
    //-           button( type="submit" class="btn btn-primary" ng-disabled="enterVerificationForm.$invalid || !phone || !verfication")
    //-             i( class="fa fa-key") 
    //-             |Reset Password