extends ../layout

block body
  div( class="custom-container" ng-controller="UserLoginCtrl")
    div( class="page-header")
      h3 Sign in
    form( novalidate method="POST" action="/login" name="loginForm")
      input( type="hidden" name="_csrf" value=_csrf)

      div( class="row")
        div( class="col-sm-7")
          div( class="form-group")
            label( for="phone" class="control-label") Phone
            input( type="text" name="phone" id="phone" placeholder="Phone" autofocus class="form-control" required ng-model="login")
          
          div( class="form-group")
            label( for="password" class="control-label") Password
            input( type="password" name="password" id="password" placeholder="Password" class="form-control" required ng-model="psw")
          
          div( class="form-group")
            button( type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid")
              i( class="fa fa-user") 
              |Login
            a( href="/forgot" class="btn btn-link") Forgot your password?
        
        div( class="col-sm-4 col-sm-offset-1")
          a( href="/auth/facebook" class="btn btn-block btn-facebook btn-social")
            i( class="fa fa-facebook") 
            |Sign in with Facebook
          a( href="/auth/twitter" class="btn btn-block btn-twitter btn-social")
            i( class="fa fa-twitter") 
            |Sign in with Twitter
          a( href="/auth/google" class="btn btn-block btn-google-plus btn-social" )
            i( class="fa fa-google-plus") 
            |Sign in with Google
          a( href="/auth/github" class="btn btn-block btn-github btn-social"  )
            i( class="fa fa-github") 
            |Sign in with GitHub
          a( href="/auth/linkedin" class="btn btn-block btn-linkedin btn-social"  )
            i( class="fa fa-linkedin") 
            |Sign in with LinkedIn