extends ../layout 

block body
  div( class="custom-container" 'ng-controller'="UserProfileCtrl" 'ng-cloak')
    div( class="row")
      div( class="col-sm-6")
        div( class="page-header")
          h3 Profile Information

        form( action="/account/profile" method="POST" class="form-horizontal" name="profileform")
          input( type="hidden" name="_csrf" value=_csrf)

          div( class="form-group")
            label( for="phone" class="col-sm-4 control-label") Phone
            div( class="col-sm-6")
              input( type="text" name="phone" id="phone" value=user.phone class="form-control" required disabled)
          div( class="form-group")
            label( for="name" class="col-sm-4 control-label") First Name
            div( class="col-sm-6")
              input( type="text" name="firstName" id="firstName" value=user.firstName || ''  class="form-control" required)
          div( class="form-group")
            label( for="name" class="col-sm-4 control-label") Last Name
            div( class="col-sm-6")
              input( type="text" name="lastName" id="lastName" value=user.lastName || ''  class="form-control" required)
          div( class="form-group")
            label( for="email" class="col-sm-4 control-label") Email
            div( class="col-sm-6")
              input( type="email" name="email" id="email" value=user.email || ''  class="form-control")
          div( class="form-group")
            label( for="address" class="col-sm-4 control-label") Address
            div( class="col-sm-6")
              input( type="text" name="address" id="address" value=user.address || ''  class="form-control")
          div( class="form-group")
            label( for="gravatar" class="col-sm-4 control-label") Avatar
            div( class="col-sm-6") 
              img( src=user.getProfilePicture()  width="100" height="100" class="profile")
          div( class="form-group")
            div( class="col-sm-offset-4 col-sm-6")
              button( type="submit" class="btn btn btn-primary" 'ng-disabled'="profileform.$invalid")
                i( class="fa fa-pencil") 
                |Update Profile
              
      
      div( class="col-sm-6 linked-accounts")
        div( class="page-header")
          h3 Linked accounts
        if user.googleId
          p
            a( href="/account/unlink/google" class=" text-danger") Unlink your Google account
        else 
          p
            a( href="/auth/google") Link your Google account

        if user.facebookId
          p
            a( href="/account/unlink/facebook" class=" text-danger") Unlink your Facebook account
        else 
          p
            a( href="/auth/facebook") Link your Facebook account

        if user.twitterId
          p
            a( href="/account/unlink/twitter" class=" text-danger") Unlink your Twitter account
        else 
          p
            a( href="/auth/twitter") Link your Twitter account

        if user.githubId
          p
            a( href="/account/unlink/github" class=" text-danger") Unlink your GitHub account
        else 
          p
            a( href="/auth/github") Link your GitHub account

        if user.linkedInId
          p
            a( href="/account/unlink/linkedIn" class=" text-danger") Unlink your LinkedIn account
        else 
          p
            a( href="/auth/linkedin") Link your LinkedIn account

    div( class="row")
      div( class="col-sm-6")
        div( class="page-header")
          h3 Change Password
        form( action="/account/password" method="POST" class="form-horizontal" novalidate name="pswform")
          input( type="hidden" name="_csrf" value=_csrf )
          div( class="form-group")
            label( for="currPassword" class="col-sm-4 control-label") Current Password
            div( class="col-sm-6")
              input( type="password" name="currPassword" id="currPassword" class="form-control" 'ng-model'="pswChange.currPassword" required) 
          div( class="form-group")
            label( for="newPassword" class="col-sm-4 control-label") New Password
            div( class="col-sm-6")
              input( type="password" name="newPassword" id="newPassword" class="form-control" 'ng-model'="pswChange.newPassword" required ng-minlength="4")
              div( password-strength value="pswChange.newPassword")
          div( class="form-group")
            div( class="col-sm-offset-4 col-sm-6")
              button( type="submit" class="btn btn btn-primary" 'ng-disabled'="pswform.$invalid || pswChange.newPassword == pswChange.currPassword")
                i( class="fa fa-lock") 
                |Change Password
          div( class="alert-container" 'ng-show'="pswChange.newPassword == pswChange.currPassword && pswChange.currPassword!=undefined")
            hr
            div( class="alert alert-danger") Passwords can not be the same!
      div( class="col-sm-6")
        div( class="page-header")
          h3 Delete account
        p You can delete your account, but keep in mind this action is irreversible.
        button( class="btn btn-danger" 'ng-click'="deactivateAccount()")
          i( class="fa fa-trash") 
          |Delete my account