extends ../layout 

block body
   div( class="custom-container" ng-controller="UserSignUpCtrl" )
     div( class="page-header" )
       h3 Sign up 
      
     //blockquote 
       Let's create your brand new account! Please note, that the new password has to be at least 4 characters long.

     if !showPasswordInput 
      form( name="sendVerificationForm" method="POST" class="form-horizontal" action="/sendVerificationCode" novalidate )
        input( type="hidden" name="_csrf" value=_csrf)
        input( type="hidden" name="isBusiness" value=isBusiness)
        div( class="form-group" )
          label( for="phone" class="col-sm-3 control-label") phone  
          div( class="col-sm-7" )
            input( type="text" name="phone" id="phone" placeholder="Phone Number" autofocus class="form-control" ng-model="phone" required)
        div( class="form-group" )
          label( for="phone" class="col-sm-3 control-label")  
          div( class="col-sm-7" )
            button( type="submit" class="btn btn-success" ng-disabled="sendVerificationForm.$invalid" )
              i( class="fa fa-user-plus")  
              |send Verification code

     if(showPasswordInput) 
      form( name="signupForm" method="POST" class="form-horizontal" action="/checkVerificationCode" novalidate )
        input( type="hidden" name="_csrf" value=_csrf)
        input( type="hidden" name="isBusiness" value=isBusiness)
        div( class="form-group" )
          label( for="phone" class="col-sm-3 control-label") phone  
          div( class="col-sm-7" ) 
            input( type="text" name="phone" id="phone" value=phone class="form-control" required readonly="readonly")
        div( class="form-group" )
          label( for="password" class="col-sm-3 control-label") verification Code  
          div( class="col-sm-7" )
            input( type="text" name="verificationCode" id="verificationCode" placeholder="verificationCode" class="form-control" ng-model="verificationCode" required ng-minlength="4") 
            
        div( class="form-group" )
          label( for="password" class="col-sm-3 control-label") Password  
          div( class="col-sm-7" )
            input( type="password" name="password" id="password" placeholder="Password" class="form-control" ng-model="psw" required ng-minlength="4")
            div( password-strength value="psw"   )
        div( class="form-group" )
          label( for="confirmPassword" class="col-sm-3 control-label") Confirm Password  
          div( class="col-sm-7" )
            input( type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" ng-model="psw1" required ng-minlength="4") 
        div( class="form-group" )
          div( class="col-sm-offset-3 col-sm-7" )
            button( type="submit" class="btn btn-success" ng-disabled="signupForm.$invalid || psw != psw1 || verificationCode == undefined" )
              i( class="fa fa-user-plus")  
              |Signup
            div( class="alert-container" ng-show="psw != psw1 && psw1" )
              hr 
              div( class="alert alert-danger") Passwords do not match!
              
            div( class="alert-container" ng-show="signupForm.password.$error.minlength" )
              hr 
              div( class="alert alert-danger") Password has to be at least 4 characters long!  