// messages
if messages.errors
  div( class="alert alert-danger fade in")
    button( type="button" data-dismiss="alert" class="close")
      span( class="fa fa-times-circle-o")
      
    - messages.errors.forEach(function(msg) { 
        div= msg.msg 
    - }); 
  
else if (messages.info) 
  div( class="alert alert-info fade in")
    button( type="button" data-dismiss="alert" class="close")
      span( class="fa fa-times-circle-o")
    
    - messages.info.forEach(function(msg) { 
          div= msg.msg 
    - }); 
  
else if (messages.success)
  div( class="alert alert-success fade in")
    button( type="button" data-dismiss="alert" class="close")
      span( class="fa fa-times-circle-o")
    
    - messages.success.forEach(function(msg) {
        div= msg.msg
    - }); 

// messages