footer 
  div( class="container text-center" )
    p( class="pull-left") © 2015 Company, Inc. All Rights Reserved
    ul( class="pull-right list-inline") 
      li
        a(href="https://github.com/yhnavein/express-starter") GitHub Project 
      li
        a(href="https://github.com/yhnavein/express-starter/issues") Issues