div(class='navbar navbar-default navbar-fixed-top')
  div(class='container')
    div(class='navbar-header')
      button(type='button' data-toggle='collapse' data-target='.navbar-collapse' class='navbar-toggle')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
        span(class='icon-bar')
        span(class='icon-bar')
      
      a(href='/' class='navbar-brand')
        i(class='fa fa-cube') 
        |Smart2Meet
      
    div(class='collapse navbar-collapse')
      ul(class='nav navbar-nav')
        li
          a( href='/') Home
      
      
      ul(class='nav navbar-nav navbar-right')
        if !user 
          li
            a(href='/login') Login
          li
            a(href='/signup?isBusiness=false') Create Account
          li
            a(href='/signup?isBusiness=true') Create business
        else
          li(class='dropdown')
            a(href='#' data-toggle='dropdown' class='dropdown-toggle')
              img(src=user.getProfilePicture(60))
              span= user.profile.name || user.email || 'Anonymous'
              |&nbsp;
              i(class='caret')
              
            ul(class='dropdown-menu')
              li
                a(href='/account') My Account
              li(class='divider')
              li
                a(href='/logout') Logout