extends layout

block body
	div( class="custom-container" ng-controller="ContactFormCtrl" )
		div( class="page-header" )
			h3 Contact Form
		
		form( method="POST" action="/contact" class="form-horizontal" name="contactForm" novalidate )
			input( type="hidden" name="_csrf" value=_csrf )
			div( class="form-group" )
				label( for="name" class="col-sm-2 control-label") Name
				div( class="col-sm-8") 
					input( type="text" name="name" id="name" autofocus="autofocus" class="form-control" required ng-model="name")
				
			
			div( class="form-group" )
				label( for="email" class="col-sm-2 control-label") Email
				div( class="col-sm-8" )
					input( type="email" name="email" id="email" class="form-control" required ng-model="email")
				
			
			div( class="form-group" )
				label( for="message" class="col-sm-2 control-label") Body
				div( class="col-sm-8" )
					textarea( name="message" id="message" rows="7" class="form-control" required ng-model="content" )
				
			
			div( class="form-group" )
				div( class="col-sm-offset-2 col-sm-8" )
					button( type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid" )
						i( class="fa fa-envelope") 
						|Send message
