extends layout 

block body
  h1(style="text-align: -webkit-center;") Smart2Meet
  i(class="fa fa-meetup fa-5x" aria-hidden="true")
  p.lead An one of kind web-application for finding and schedualing appointments!
  hr
  div.row
    div.col-sm-6 
      h2 This Version
      p Doesnt do much, just handles common login and signin procces and issues. 
      //p  
        a( href='#' role='button' class='btn btn-default') View details »  
      
    