doctype html
html(lang='en' ng-app='express-starter')
  head 
    meta( charset='utf-8') 
    meta( http-equiv='X-UA-Compatible' content='IE=edge') 
    meta( name='viewport' content='width=device-width, initial-scale=1') 
    meta( name='csrf-token' content=_csrf) 
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -- 
    title= title

    // Bootstrap
    link(rel='stylesheet/less' href='css/main.less')
    script(src='js/less.js')
    script(src='js/lib/jquery-2.1.3.min.js')
    script(src='js/lib/angular.min.js')
    script(src='js/lib/angular-animate.min.js')
    script(src='js/lib/angular-route.min.js')
    script(src='js/lib/v-modal.min.js')
    script(src='js/lib/zxcvbn.js')
    script(src='js/lib/bootstrap.min.js')   

    script(src='js/common/app.js')  
    script(src='js/common/contactController.js')  
    script(src='js/common/userController.js')  
    script(src='js/common/pswStrengthComponent.js')  
    script(src='js/common.js')
  head 
  body(style="background-image: url(images/homeBG.png);") 
    include partials/header 

    div.container 
      include partials/flash
      block body

       

      //
        if(gaCode) 
        script 
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      //ga('create', 'gaCode', 'auto');
      //ga('send', 'pageview');