extends ../layout 

block body
  div( class="custom-container" 'ng-cloak')
    div( class="row")
      div( class="col-sm-6")
        div( class="page-header")
          h3 business Information

        form( action="/signupBusiness" method="POST" class="form-horizontal" name="businessform" novalidate)
          input( type="hidden" name="_csrf" value=_csrf)

          div( class="form-group")
            label( for="businessNumber" class="col-sm-4 control-label") business Number
            div( class="col-sm-6")
              input( type="number" name="businessNumber" id="businessNumber" ng-model="businessNumber" class="form-control" required)

          div( class="form-group")
            label( for="businessName" class="col-sm-4 control-label") business Name
            div( class="col-sm-6")
              input( type="text" name="businessName" id="businessName" ng-model="businessName" class="form-control" required)

          div( class="form-group")
            label( for="businessManagerPhone" class="col-sm-4 control-label") businessManagerPhone
            div( class="col-sm-6")
              input( type="text" name="businessManagerPhone" id="businessManagerPhone" value=phone class="form-control" required readonly="readonly")
        
          div( class="form-group")
            label( for="email" class="col-sm-4 control-label") Email
            div( class="col-sm-6")
              input( type="email" name="email" id="email" ng-model="email" class="form-control" required)

          div( class="form-group")
            label( for="website" class="col-sm-4 control-label") Website
            div( class="col-sm-6")
              input( type="url" name="website" id="website" ng-model="website" class="form-control" )

          //- div( class="form-group")
          //-   label( for="logo" class="col-sm-4 control-label") Logo
          //-   div( class="col-sm-6")
          //-     input( type="file" name="logo" id="logo" file-model="logo" ng-model="logo" class="form-control" required)

          //- div( class="form-group")
          //-   label( for="businessPicture" class="col-sm-4 control-label") businessPicture
          //-   div( class="col-sm-6")
          //-     input( type="file" name="businessPicture" id="businessPicture" file-model="businessPicture" ng-model="businessPicture" class="form-control" required)

          div( class="form-group")
            label( for="category" class="col-sm-4 control-label") Category
            div( class="col-sm-6")

             select(name="categoryId" id="category" required class="form-control")
               option(value="")
               each category, i in categories
                 option(value=category.id) #{category.text}
            
          //- div( class="form-group")
          //-   label( for="startHour" class="col-sm-4 control-label") Working Hours
          //-   div( class="col-sm-6")
          //-     input( type="time" name="startHour" id="startHour" ng-model="startHour" class="form-control" required)
          //-     input( type="time" name="endHour" id="endHour" ng-model="endHour" class="form-control" required)

          div( class="form-group")
            label( for="description" class="col-sm-4 control-label") More Information
            div( class="col-sm-6")
              input( type="text" name="description" id="description" ng-model="description" class="form-control" )

          div( class="form-group")
            label( for="checkedSingleBranch" class="col-sm-4 control-label") Single Branch?
            div( class="col-sm-6")
              input(type="checkbox" name="checkedSingleBranch" ng-init="checkedSingleBranch=false" ng-model="checkedSingleBranch" class="form-control")


          //- div( class="form-group" ng-show="checkedSingleBranch")
          //-   label( for="address" class="col-sm-4 control-label") business Address
          //-   div( class="col-sm-6")
          //-     input( type="text" name="address" id="address" ng-model="address" class="form-control")

          div( class="form-group" ng-show="checkedSingleBranch")
            label( for="branchManagerPhone" class="col-sm-4 control-label") branch Manager Phone
            div( class="col-sm-6")
              input( type="text" name="branchManagerPhone" id="branchManagerPhone" ng-model="branchManagerPhone" class="form-control" required)
          
          div( class="form-group" ng-show="checkedSingleBranch")
            label( for="branchMaskyooPhone" class="col-sm-4 control-label") Maskyoo Phone
            div( class="col-sm-6")
              input( type="text" name="branchMaskyooPhone" id="branchMaskyooPhone" ng-model="branchMaskyooPhone" class="form-control" required)
     
          div( class="form-group" ng-show="checkedSingleBranch")
            label( for="minTimeCancelAppointent" class="col-sm-4 control-label") Minimum Time To Cancel Appointment
            div( class="col-sm-6")
              input( type="number" name="minTimeCancelAppointent" id="minTimeCancelAppointent" ng-model="minTimeCancelAppointent" class="form-control")

          div( class="form-group" ng-show="checkedSingleBranch")
            label( for="allowAutomaticSchedualising" class="col-sm-4 control-label") Allow automatic schedualing 
            div( class="col-sm-6")
              input( type="checkbox" name="allowAutomaticSchedualising" id="allowAutomaticSchedualising" ng-model="allowAutomaticSchedualising" class="form-control")

          div( class="form-group" )
            label( class="col-sm-4 control-label") 
            div( class="col-sm-3")
              button( type="submit" class="btn btn-success"  )
                i( class="fa fa-user-plus")  
                span( ng-hide="checkedSingleBranch" ) Add Branches
            div( class="col-sm-3")
              button( type="submit" class="btn btn-success"  )
                i( class="fa fa-user-plus")  
                span( ng-show="checkedSingleBranch" ) Finish