extends ../layout 

block body
  div( class="custom-container" 'ng-cloak')
    div( class="row")
      div( class="col-sm-3")
      div( class="col-sm-6")
        div( class="page-header")
          h3 Add Branches

        form( action="{{ action }}" method="POST" class="form-horizontal" name="buisnessform")
          input( type="hidden" name="_csrf" value=_csrf)
          input( type="hidden" name="businessNumber" value=businessNumber)

          div( class="form-group")
            label( for="name" class="col-sm-4 control-label") Branch Name
            div( class="col-sm-6")
              input( type="text" name="branchName" id="name" ng-model="name" class="form-control" required)

          //- div( class="form-group")
          //-   label( for="address" class="col-sm-4 control-label") Address
          //-   div( class="col-sm-6")
          //-     input( type="text" name="address" id="address" ng-model="address" class="form-control" required)

          div( class="form-group")
            label( for="branchManagerPhone" class="col-sm-4 control-label") Manager Phone
            div( class="col-sm-6")
              input( type="text" name="branchManagerPhone" id="branchManagerPhone" ng-model="branchManagerPhone" class="form-control" required)
          
          div( class="form-group")
            label( for="branchMaskyooPhone" class="col-sm-4 control-label") branch Maskyoo Phone
            div( class="col-sm-6")
              input( type="text" name="branchMaskyooPhone" id="branchMaskyooPhone" ng-model="branchMaskyooPhone" class="form-control" required)
          
          div( class="form-group" )
            label( for="minTimeCancelAppointent" class="col-sm-4 control-label") Minimum Time To Cancel Appointment (Hours)
            div( class="col-sm-6")
              input( type="number" name="minTimeCancelAppointent" id="minTimeCancelAppointent" ng-model="minTimeCancelAppointent" class="form-control")

          div( class="form-group" )
            label( for="allowAutomaticSchedualising" class="col-sm-4 control-label") Allow automatic schedualising 
            div( class="col-sm-6")
              input( type="checkbox" name="allowAutomaticSchedualising" id="allowAutomaticSchedualising" ng-model="allowAutomaticSchedualising" class="form-control")

          div( class="form-group" )
            label( class="col-sm-4 control-label") 
            div( class="col-sm-3")
              button( type="submit" class="btn btn-success" ng-click="action='/addBranch?isDone=false'" )
                i( class="fa fa-user-plus")  
                span(  ) Add Another Branch
            div( class="col-sm-3")
              button( type="submit" class="btn btn-success" ng-click="action='/addBranch?isDone=true'" )
                i( class="fa fa-user-plus")  
                span(  ) Finish